<section id="fletes">
    <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="title1">Fletes</h1>
        <h3 class="par1">Te presentamos la variedad de vehiculos que disponemos para que puedas realizar tu servicio de fletes con mayor seguridad y confort</h3>
        <hr class="bottom-line">
      </div>
      </div>
      </div>
      <div class="container" style="padding-bottom: 60px;">
        <div class="row">
          <div class="col-lg-4 col-md-6 port-item">
            <div class="port-wrap">
              <figure>
                <img src="images/furgon.png" class="img-fluid" alt="furgon">
              </figure>
              <div class="port-info">
                <h4>Furgon</h4>
                <p>Valor: $800 x hora mínimo de 2hs de trabajo, su capacidad de carga es hasta 1000 kilos.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 port-item">
            <div class="port-wrap">
              <figure>
                <img src="images/f350.png" style="margin-top:22px" class="img-fluid" alt="f350" id="f350">
              </figure>
              <div class="port-info">
                <h4>F350</h4>
                <p> Valor: $1000 x hora mínimo de 3hs de trabajo, su capacidad de carga es hasta 3000 kilos.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-0 offset-md-3 col-md-6 port-item">
            <div class="port-wrap">
              <figure>
                <img src="images/camion.png" class="img-fluid" alt="camion" id="camion">
              </figure>
              <div class="port-info">
                <h4>Camión liviano</h4>
                <p> Valor: $1200 x hora mínimo de 4hs de trabajo , su capacidad de carga es hasta 4000 kilos.</p>
              </div>
            </div>
          </div>
          </div>
        </div> 
        </section>

        <section style="background-color: #F3F4F8;">
        <div class="container">
          <div class="row">
          <div class="col-12">
              <h1 class="title1">Abona con tarjeta y mercado de pago</h1>
              <h3 class="par1">Podés pagar con tarjeta de crédito, débito o transferencia bancaria.Cualquier medio de pago que elijas lo abonas al finalizar el servicio.
              </h3>
              <img src="images/mercadopago.png" class="img-mercadopago" alt="banner-mercado-pago">
            </div>
        </div>  
      </section>
      <!-- servicios -->
      <section id="servicios">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="title1">Nuestros Servicios Adicionales</h1>
              <hr class="bottom-line">
            </div>
          </div>
          <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4">
              <img class="icon" src="images/caja.png" alt="caja">
              <h3 class="art">Embalaje</h3>
              <h4 class="art-sub">$?</h4>
              <p>Precio a convenir con el cliente</p>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
            <img class="icon" src="images/cesto-de-la-ropa.png" alt="cesto">
            <h3 class="art">Canastos</h3>
            <h4 class="art-sub">0$</h4>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
              <img class="icon" src="images/carro.png" alt="carro">
              <h3 class="art">Carros</h3>
              <h4 class="art-sub" style="padding-left: 5px; background-color: rgb(180, 180, 180);border-radius: 40px;color: rgb(0, 0, 0);">INCLUIDO</h4>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
              <img class="icon" src="images/hombre.png" alt="hombre">
              <h3 class="art">Ayudante</h3>
              <h4 class="art-sub">$400</h4>
              <p>Por hora,minimo 4hs de trabajo</p>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4">
              <img class="icon" src="images/martillo.png" alt="mastillo">
              <h3 class="art">Herramientas</h3>
              <h4 class="art-sub" style="padding-left: 5px; background-color: rgb(180, 180, 180);border-radius: 40px;color: rgb(0, 0, 0);">INCLUIDO</h4>
          </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
              <img class="icon" src="images/escalera.png" alt="escalera">
              <h3 class="art">Escalera</h3>
              <h4 class="art-sub">$?</h4>
              <p>Precio a convenir con el cliente</p>
            </div>
          </div>
        </div>
      </section>
      <!-- corte -->
      <section class="corte">
        <div class="cort">
          <div class="bg-color-1">
        <div class="container-fluid">
          <div class="row">
              <div class="col">
            <h2 class="bnr-sub-title" style="color: rgb(247, 239, 239);text-align: center;margin-top: 40px;padding:0px;">Solicita tu presupuesto</h1>
                <h3 class="subti">Envianos tu numero de telefono y nos comunicaremos a la brevedad</h3>
              <form action="/#index" method="post" class="formulario" id="formulario">
              <div class="form-row">
                  <div class="offset-lg-3 col-lg-3 col-md-12">
                    <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre" required style="display: block;color: #495057 !;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da !important;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                  </div>
                  <div class="col-lg-3 col-lg-3 col-md-12">
                    <input type="text" class="form-control" placeholder="Telefono" id="tel" name="tel" required style="display: block;color: #495057 !;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da !important;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                  </div>
                  </div>
                  <div class="row">
                    <div class="offset-lg-5 col-lg-7">
                  <button type="submit" class="btn btn-primary" id="subm">Enviar</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mensaje" style="padding-top: 8px;">
                        {{ message }}
                    </div>
                  </div>
                </div>
                </form>
          </div>
      </div>
      </div>
      </div>
      </div>
      </section>
      <!-- mudanzas -->
      <section id="mudanzas">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h1 class="title1">Mudanzas</h1>
            <h3 class="par1">Los valores mostrados a continuacion son para servicio de mudanzas en C.A.B.A y alrededores</h3>
            <hr class="bottom-line">
          </div>
          </div>
          </div>
          <div class="container" style="padding-bottom: 60px;">
            <div class="row">
              <div class="col-lg-4 col-md-6 port-item">
                <div class="port-wrap">
                  <figure>
                    <img src="images/furgon.png" class="img-fluid" alt="furgon">
                  </figure>
                  <div class="port-info">
                    <h4>Furgon</h4>
                    <p>Valor para: 1 amb $ 1600 x hora mínimo de 3hs ( incluye 2 peones).</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 port-item">
                <div class="port-wrap">
                  <figure>
                    <img src="images/f350.png" style="margin-top:22px" class="img-fluid" alt="f350">
                  </figure>
                  <div class="port-info">
                    <h4>F350</h4>
                    <p> Valor para: 2/3 amb $ 1800 x hora mínimo de 4hs ( incluye 2 peones).</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 offset-lg-0 offset-md-3 col-md-6 port-item">
                <div class="port-wrap">
                  <figure>
                    <img src="images/camion.png" class="img-fluid" alt="camion">
                  </figure>
                  <div class="port-info">
                    <h4>Camión liviano</h4>
                    <p> Valor para: 3/4 amb $ 2300 x hora mínimo de 5hs ( incluye 3 peones).</p>
                  </div>
                </div>
              </div>
              </div>
            </div> 
            </section>
            <!-- galeria -->
      <section id="galeria">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="title1">Galeria</h1>
              <h3 class="par1" style="margin-left: 0px;">Imagenes de nuestras unidades de traslado</h3>
              <hr class="bottom-line">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4" style="padding: 0px;">
              <figure class="galery">
                <img src="/images/galeria/auto.jpg" alt="img01">
                <div class="ovrly"></div>
                <div class="buttons">
                    <a href="#" class="fa fa-link"></a>
                    <a data-fancybox="gallery" href="/images/galeria/auto.jpg" class="fa fa-search"></a>
                </div>
            </figure>
            </div>
            <div class="col-lg-4 col-md-4" style="padding: 0px;">
              <figure class="galery">
                <img src="/images/galeria/pickup.jpg" alt="img02">
                <div class="ovrly"></div>
                <div class="buttons">
                    <a href="#" class="fa fa-link"></a>
                    <a data-fancybox="gallery" href="/images/galeria/pickup.jpg" class="fa fa-search"></a>
                </div>
            </figure>
            </div>
            <div class="col-lg-4 col-md-4" style="padding: 0px;">
              <figure class="galery">
                <img src="/images/galeria/ducato.jpg" alt="img03">
                <div class="ovrly"></div>
                <div class="buttons">
                    <a href="#" class="fa fa-link"></a>
                    <a data-fancybox="gallery" href="/images/galeria/ducato.jpg" class="fa fa-search"></a>
                </div>
            </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4" style="padding: 0px;">
              <figure class="galery">
                <img src="/images/galeria/camion1.jpg" alt="img04">
                <div class="ovrly"></div>
                <div class="buttons">
                    <a href="#" class="fa fa-link"></a>
                    <a data-fancybox="gallery" href="/images/galeria/camion1.jpg" class="fa fa-search"></a>
                </div>
            </figure>
            </div>
            <div class="col-lg-4 col-md-4" style="padding: 0px;">
              <figure class="galery">
                <img src="/images/galeria/31301727_440419473070184_8141521374729469952_o.jpg" alt="img01">
                <div class="ovrly"></div>
                <div class="buttons">
                    <a href="#" class="fa fa-link"></a>
                    <a data-fancybox="gallery" href="/images/galeria/31301727_440419473070184_8141521374729469952_o.jpg" class="fa fa-search"></a>
                </div>
            </figure>
            </div>
            <div class="col-lg-4 col-md-4" style="padding: 0px;padding-bottom: 60px;">
              <figure class="galery">
                <img src="/images/galeria/camion5.jpg" alt="img05">
                <div class="ovrly"></div>
                <div class="buttons">
                    <a href="#" class="fa fa-link"></a>
                    <a data-fancybox="gallery" href="/images/galeria/camion5.jpg" class="fa fa-search"></a>
                </div>
            </figure>
            </div>
          </div>
          </div>
      </section>
      <!-- corte -->
      <div class="cort2">
      <div class="bg-color-2">
      <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <img src="/images/deposito.png" class="deposito" alt="">
          </div>
        <div class="col-lg-6 col-md-6">
          <h2 class="bnr-sub-title2">Guardamuebles</h2>
          <h3 class="subti">En nuestra empresa contamos con deposito y servicio de guardamuebles,para que tus objetos se encuentren bien protegidos</h3>
          <hr class="bottom-line">
        </div>
      </div>
      </div>
      </div>
      </div>
      <!-- ubicacion -->
      <section id="ubicacion">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="title1">Viajamos a cualquier punto del pais</h1>
              <h3 class="par2">Realizamos fletes y mudanzas en CABA y en toda la pronvincia Argentina, comunicate con nosotros y te indicamos si llegamos hasta tu localidad</h3>
              <hr class="bottom-line" style="margin-bottom: 0px;">
            </div>
              </div>
            <div class="row">
              <div class="col-xl-4 col-lg-6">
              <img class="map" src="images/mapa-provincia-buenos-aires-argentina_2227-259.png"  alt="">
              </div>
              <div class="col-xl-2 col-lg-6 col-md-12">
                <div class="conten-li">
                <!-- <h3 class="subti">Provincias</h3> -->
                <ul>
                  <li>Buenos Aires</li>
                  <li>Santa Fe</li>
                  <li>Cordoba</li>
                  <li>Catamarca</li>
                  <li>Chaco</li>
                  <li>Corrientes</li>
                  <li>Entre Rios</li>
                  <li>San Luis</li>
                  <li>San Juan</li>
                  <li>Mendoza</li>
                  </ul>
                  </div>
                  </div>
                  <div class="col-xl-2 col-lg-4 col-md-12">
                  <div class="conten-li">
                  <ul>
                  <li>Salta</li>
                  <li>Tucuman</li>
                  <li>Misiones</li>
                  <li>Chubut</li>
                  <li>Formosa</li>
                  <li>Jujuy</li>
                  <li>La Pampa</li>
                  <li>Neuquen</li>
                  <li>Santa Cruz</li>
                  <li>La Rioja</li>
                </ul>
                </div>
                </div>
              <div class="col-xl-2 col-lg-4 col-md-12">
                <div class="conten-li">
                <!-- <h3>Capital Federal</h3> -->
                <ul>
                  <li>Almagro</li>
                  <li>Balvanera</li>
                  <li>Barracas</li>
                  <li>Belgrano</li>
                  <li>Boedo</li>
                  <li>Caballito</li>
                  <li>Chacarita</li>
                  <li>Colegiales</li>
                  <li>Flores</li>
                  <li>Floresta</li>
                </ul>
                </div>
                </div>
                  <div class="col-xl-2 col-lg-4 col-md-12">
                    <div class="conten-li">
                  <ul>
                  <li>Devoto</li>
                  <li>Liniers</li>
                  <li>Mataderos</li>
                  <li>Microcentro</li>
                  <li>Nuñez</li>
                  <li>Once</li>
                  <li>Palermo</li>
                  <li>Recoleta</li>
                  <li>San Telmo</li>
                  <li>Constitucion</li>
                </ul>
                </div>
              </div>
            </div>
            </div>
      </section>
      <!-- contacto -->
      <section id="contacto">
      <div id="particles-js"></div>
        <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <h2 class="bnr-sub-title-1">CONTACTATE CON NOSOTROS</h2>
                <h3 class="subti" style="margin-bottom: 20px;margin-left: 0px;">Si quieres mas informacion sobre nuestros servicios, tarifas y zonas en las que trabajamos.Envianos tu consulta y te responderemos a la brevedad </h3>
                <hr class="bottom-line">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13140.007153794117!2d-58.5123951!3d-34.5788213!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd12af112a2e8dca8!2sVCfletes!5e0!3m2!1ses-419!2sar!4v1598408319962!5m2!1ses-419!2sar" width="100%" height="400" frameborder="0" style="border:0;border-radius: 10px;margin-bottom: 20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                
              </div>
            </div>
          </div> 
          <div class="container">
            <div class="row justify-content-center">
                  <div class="col-lg-3">
                    <div class="info">
                      <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <p>Av. Albarellos 3153<br>CABA</p>
                      </div>
                      <div>
                        <i class="fas fa-envelope"></i>
                        <p>vcfletes@gmail.com</p>
                      </div>
                      <div>
                        <i class="fas fa-phone"></i>
                        <p>+54 45729877</p>
                      </div>
                    </div>
                    <div class="social-links">
                      <a href="https://www.google.com.ar/maps/uv?pb=!1s0x95bcb7c89205f93f%3A0xd12af112a2e8dca8!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipMOZsy7dnTzsM5RWiwHLF-4v4pgTkrHen1M68-5%3Dw285-h160-k-no!5svc%20fletes%20-%20Buscar%20con%20Google!15sCgIgAQ&imagekey=!1e10!2sAF1QipMOZsy7dnTzsM5RWiwHLF-4v4pgTkrHen1M68-5&hl=es-419&sa=X&ved=2ahUKEwj41rCexMnrAhXTBtQKHcNmDmwQoiowCnoECBQQBg" class="google"><i class="fab fa-google" target="none"></i></a>
                      <a href="https://www.facebook.com/vcfletes" class="facebook" target="none"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.instagram.com/vc.fletes/" class="instagram" target="none"><i class="fab fa-instagram"></i></a>
                      <a href="https://www.youtube.com/channel/UCHhr3C9tkBAKWNbNy-NbIfQ" class="youtube" target="none"><i class="fab fa-youtube"></i></a>
                      <a href="https://api.whatsapp.com/send?phone=+54%209%2011%2052599460&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n....."class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                    </div>
                  </div>
                <div class="col-lg-5">
                  <div class="form">
                    <form action="/#contacto" method="post"  class="formulario" id="formulario">
                      <div class="form-group">
                        <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="tel" id="tel" placeholder="Telefono" required>
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" name="mensaje" id="mensaje" rows="5" placeholder="Mensaje"></textarea>
                      </div>
                      <div class="text-center"><button type="submit" class="envio">Enviar</button></div>
                    </form>
                    <div class="mensaje">
                        {{ message }}
                  </div>
                  </div>
                </div>
                </div>
                </div>
                </section> 
      <script src="/javascripts/particles.js"></script>
      <script src="/javascripts/app.js"></script>
      <script src="/javascripts/loader.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<script src="/javascripts/jquery.fancybox.min.js"></script>
<script src="/javascripts/gallery.js"></script>
<script src="/javascripts/gotop.js"></script>
<script src="/javascripts/jquery.validate.js"></script>
<script src="/javascripts/messages_es_AR.js"></script>
<script src="/javascripts/contacto.js"></script>


