<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>VC Fletes</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
<link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<link rel="stylesheet" href="/javascripts/jquery.fancybox.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="/stylesheets/ubicacion.css">
<link rel="stylesheet" href="/stylesheets/servicios.css">
<link rel="stylesheet" href="/stylesheets/galeria.css"> 
<link rel="stylesheet" href="/stylesheets/contacto.css">
</head>
<body>
<div class="lds-spinner centrado" id="centrado"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="header">
        <div class="bg-color">
        <nav class="navbar navbar-expand-lg  scrolling-navbar fixed-top gris">
        <div class="container-fluid">
            <img class="log" src="images/VC LOGISTICA LOGO 22-05.jpg.png" alt="">
                <a href="" class="toogle-button">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </a>
                <div class="collapse navbar-collapse">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/#inicio">INICIO</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/#servicios">SERVICIOS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/#galeria">GALERIA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/#contacto">CONTACTO</a>
                    </li>
                    </ul>
                </div>
        </div>
        </nav>
        <section id="inicio">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info">
                <img src="images/vg logo.png" alt="" id="logo">
                <img src="images/logo-tel.png" alt="" id="logo-tel">
                <h2 class="bnr-sub-title">LA SEGURIDAD QUE USTED NECESITA PARA EL TRASLADO DE SUS OBJETOS PERSONALES Y DE SU EMPRESA!!</h2>
                <p class="bnr-para">Somos una empresa familiar que en 30 años de ardua labor aprendimos a conocer a nuestros clientes y a atender sus necesidades, con la gran responsabilidad que una mudanza implica. Realizamos viajes por todo el país para lo que contamos con sólidas y eficientes unidades de traslado, siempre atendiendo a su consulta y cumpliendo con los requerimientos necesarios para satisfacer su pedido.</p>
                <div class="brn-btn">
                  <a href="#fletes" class="btn btn-more">FLETES</a>
                  <a href="#mudanzas" class="btn btn-more">MUDANZAS</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        </section>
        <a href="https://api.whatsapp.com/send?phone=+54%209%2011%2052599460&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n....."
          class="float" target="_blank">
                <i class="fab fa-whatsapp my-float"  aria-hidden="true"></i>
            </a>
            <a class="fas fa-chevron-up" id="up"></a>
    {{{body}}}
  </body>
</html>
